
<h1 mat-dialog-title>{{pageTitle}}</h1>
<div>

  <mat-dialog-content>
    <mat-form-field class="formfield">
      <label for="productNameInput">Produkt-Name</label>
      <input matInput [(ngModel)]="data.name" name="xxx" required="true"
             placeholder="Name" id="productNameInput">
    </mat-form-field>

    <mat-form-field class="formfield">
      <label for="productRegularWeightInput">Standard-Gewicht</label>
      <input matInput [(ngModel)]="data.regularWeight" name="xxx" required="true"
             placeholder="0" id="productRegularWeightInput">
    </mat-form-field>
  </mat-dialog-content>
</div>
<div>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial id="productDialogCreateButton">Anlegen</button>
    <button mat-button mat-dialog-close id="productDialogCancelButton">Abbrechen</button>
  </mat-dialog-actions>
</div>
